flows.json
[{"id":"cf92227a.e883c","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"b717457.b172ab8","type":"ui_template","z":"cf92227a.e883c","group":"59a50ece.d093b","name":"","order":1,"width":"9","height":"8","format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Visual Recognition</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n   <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js\"></script>\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js\"></script>\n  <style>\n  .bg-light {\n     \n    background-color: #A42156!important;\n\t}\n\tdashboard-template h4 {\n    color: #111111 !important;\n    background-color: #A42156 !important;\n    }\n\t\n\t.custom-file {\n\t\tmargin-bottom: 14px;\n\t\t}\n\t\t\n\t.table .thead-dark th {\n\t\tcolor: #fff;\n\t\tbackground-color: #A42156;\n\t\tborder-color: #A42156;\n\t}\n\th5{\n\t    text-align: center;\n\t\t    color: #EB9E30;\n\t\t}\n\t\t.text-center {\n\t\t  text-align: center;\n\t\t}\n\t.imgdiv\n\t{\n\t\talign:center;\n\t}\n\t</style>\n</head>\n<body>\n\t<nav class=\"navbar navbar-expand-sm bg-light\">\n\t\t<div class=\"justify-content-center\">\n\t\t\t<h4 class=\"text-center\">Food Nutrition Dashboard </h4>\n\t\t</div>\n\t</nav>\n\t<br><br>\n    <div class=\"container\">\n\t\t<div class=\"row\">\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-8\">\n\t\t\t\t\n\t\t\t\t\t<div class=\"custom-file\">\n\t\t\t\t\t\n\t\t\t\t\t\t<input type=\"file\" name=\"pic\" accept=\"image/*\" onchange=\"readURL(this);\" class=\"custom-file-input\" id=\"customFile\">\n\t\t\t\t\t\t\n\t\t\t\t\t\t<label class=\"custom-file-label\" for=\"customFile\">Choose file</label>\n\t\t\t\t\t</div>\n\t\t\t\t\t<br>\n\t\t\t\t\t<div class=\"imgdiv\">\n\t\t\t\t\t\t<img src=\"#\" id=\"blah\" class=\"rounded\" alt=\"Selected Image\">\n\t\t\t\t\t</div>\n\t\t\t\t\t<!--<md-button ng-click=\"send({payload:action()})\">\n\t\t\t\t\t\tPredict\n\t\t\t\t\t</md-button>-->\n\t\t\t\t\t<button type=\"submit\" ng-click=\"send({payload:action()})\" class=\"btn btn-success\">Submit</button>\n\t\t\t\t\n\t\t\t\t\n\t\t\t</div>\n\t\t\n</body>\n</html>\n<script>\nvar x=\"\";\n    function readURL(input) {\n        if (input.files && input.files[0]) {\n            var reader = new FileReader();\n\n            reader.onload = function (e) {\n                $('#blah')\n                    .attr('src', e.target.result)\n                    .width(150)\n                    .height(200);\n            };\n\n            reader.readAsDataURL(input.files[0]);\n            x= input.files[0]\n\n            \n            \n\n        }\n    }\n    function getdata(data)\n\t{\n\t\t var html = '';\n            if(data != 0)\n\t\t\t{\n\t\t\t\t$.each(data, function(i){\n\t\t\t\tvar row = data[i];\n\t\t\t\tconsole.log(row);\n\t\t\t\thtml += '<tr>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.class;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.score;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '</tr>';\n\t\t\t});\n\t\t\t}\n\t\t\telse\n\t\t\t\thtml+=\"<div>No Data</div>\";\n\t\t\t$('#scoretable').html(html);\n\t}\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            console.log('Position 2');\n            console.dir(data);\n            getdata(data);\n\n        });\n    })(scope);\n    \n    \n// or overwrite value in your callback function ...\nthis.scope.action = function() { return x; }\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":60,"y":140,"wires":[["b5d27963.3f4048"]]},{"id":"b5d27963.3f4048","type":"visual-recognition-v3","z":"cf92227a.e883c","name":"","vr-service-endpoint":"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/fe8362f9-a8fa-4704-8273-051773fc6a96","image-feature":"classifyImage","lang":"en","x":230,"y":140,"wires":[["f35f9190.b8c168"]]},{"id":"f35f9190.b8c168","type":"function","z":"cf92227a.e883c","name":"Process Results","func":"if (typeof msg.result == 'undefined') {\n    return null;\n}\n\n// Text Extraction\nif (typeof msg.result.images[0].text != 'undefined') {\n    var image_text = msg.result.images[0].text;\n    msg.payload = image_text;\n    msg.template = image_text;\n    if( image_text.length >0 ) {\n       msg.template= \"Watson found the words: \"+image_text;\n    }\n    return msg;\n}\n\nvar bestcolor = -1;\nvar colorscore = 0;\nvar c_id = 0;\nvar say = \"\";\nvar item;\n\nfor ( c_id=0; c_id < (msg.result.images[0].classifiers.length); c_id++ ){\n    // find the best color, if any\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > colorscore){\n            bestcolor = i;\n            colorscore = msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n    var bestItem = 0;\n    var itemScore = 0;\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( !object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > itemScore){\n            bestItem = i;\n            itemScore =  msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n     if( bestcolor != \"-1\") {\n        // found a color\n        item = msg.result.images[0].classifiers[c_id].classes[bestcolor].class + \" \" + msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n        bestcolor = -1;\n    } else {\n       item = msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n    }\n//    say = say + \" Watson's \" + msg.result.images[0].classifiers[c_id].name + \" classifier thinks this picture contains a \" + item +\".\";\n    //say = say + \" Watson thinks this picture contains \" + item +\".\";\n    say = say + \" Watson thinks this picture contains \" + msg.result.images[0].classifiers[0].classes[0].class +\".\";\n}\nmsg.payload =  say;\n// msg.food = msg.result.images[0].classifiers[0];\n\nvar picInfo = msg.result.images[0].classifiers[0].classes;\nvar arrayLength = picInfo.length;\n\nmsg.template=\"<style>\";\nmsg.template=msg.template+\"table { width: 440px; margin-top: 10px; }\";\nmsg.template=msg.template+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.template=msg.template+\"</style>\";\n\nmsg.template=msg.template+\"<h2>\"+say+\"</h2><table span=100%><tr><th>Class</th><th>Confidence</th></tr>\";\nfor (var i = 0; i < arrayLength; i++) {\n  msg.template = msg.template + \"<tr><td>\" + picInfo[i].class + \"</td><td>\" + picInfo[i].score + \"</td></tr>\";\n}\nmsg.template = msg.template + \"</table>\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":140,"wires":[["8421b634.335a8","8b8fb930.cb0508","35d27b9a.e84304"]]},{"id":"8b8fb930.cb0508","type":"ui_template","z":"cf92227a.e883c","group":"4b97a38e.bb831c","name":"Results Table","order":1,"width":"9","height":"10","format":"<div ng-bind-html=\"msg.template\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":680,"y":160,"wires":[[]]},{"id":"8421b634.335a8","type":"debug","z":"cf92227a.e883c","name":"What did Watson find?","active":true,"console":"false","complete":"payload","x":670,"y":120,"wires":[]},{"id":"35d27b9a.e84304","type":"change","z":"cf92227a.e883c","name":"Food classification","rules":[{"t":"set","p":"food","pt":"msg","to":"result.images[0].classifiers[0].classes[0].class","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":220,"wires":[["ebd7b746.e07f4"]]},{"id":"ebd7b746.e07f4","type":"switch","z":"cf92227a.e883c","name":"Food?","property":"food","propertyType":"msg","rules":[{"t":"eq","v":"non-food","vt":"str"},{"t":"neq","v":"non-food","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":260,"wires":[["a83a5048.e98c08"],["991f6cf6.6266c8","e61bbbbd.7469b8","2a856b65.c3349c"]]},{"id":"a83a5048.e98c08","type":"function","z":"cf92227a.e883c","name":"Not a Food - Empty Table","func":"msg.template=\"<style>\";\nmsg.template=msg.template+\"table { width: 440px; margin-top: 10px; }\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #FFFFFF; width: 50%;}\";\n\nmsg.template=msg.template+\"</style><h1>Not Valid</h1>\";\nmsg.template = msg.template;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":260,"wires":[["5753727d.706cbc"]]},{"id":"5753727d.706cbc","type":"ui_template","z":"cf92227a.e883c","group":"695ef645.ae9dc","name":"Nutrients Table","order":2,"width":"9","height":"9","format":"<div ng-bind-html=\"msg.template\"></div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1020,"y":440,"wires":[[]]},{"id":"4a23778f.fe28f8","type":"ui_audio","z":"cf92227a.e883c","name":"","group":"4b97a38e.bb831c","voice":"0","always":true,"x":740,"y":320,"wires":[]},{"id":"6195ebb2.f0c9b4","type":"inject","z":"cf92227a.e883c","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"yogurt","payloadType":"str","x":110,"y":380,"wires":[["1053b0d7.b060c7"]]},{"id":"1053b0d7.b060c7","type":"change","z":"cf92227a.e883c","name":"","rules":[{"t":"set","p":"food","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":460,"wires":[["991f6cf6.6266c8"]]},{"id":"991f6cf6.6266c8","type":"function","z":"cf92227a.e883c","name":"USDA API url","func":"msg.url = \"https://api.nal.usda.gov/fdc/v1/foods/search?api_key=ktmMFOqJPjZleokitX5SjqrWOlPBmAeABrVXRqP8&query=\"+msg.food;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":460,"wires":[["1d79594.4c4d4a7"]]},{"id":"1d79594.4c4d4a7","type":"http request","z":"cf92227a.e883c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":440,"wires":[["60e1cfbd.33c17","5c1375eb.5362ec"]]},{"id":"60e1cfbd.33c17","type":"debug","z":"cf92227a.e883c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":400,"wires":[]},{"id":"696ce5b3.d08404","type":"debug","z":"cf92227a.e883c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":540,"wires":[]},{"id":"2a856b65.c3349c","type":"debug","z":"cf92227a.e883c","name":"What type of food?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"food","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":380,"wires":[]},{"id":"ebc8a0fc.112cc8","type":"watson-text-to-speech","z":"cf92227a.e883c","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaVoice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"","apikey":"2DbPPomgbmiG-dXJNyDOmkOCXgm4G9OhDFzTZeF45rfc","payload-response":true,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/d76b49d7-9b08-4594-87c6-929d91c57985","x":530,"y":320,"wires":[["4a23778f.fe28f8"]]},{"id":"e61bbbbd.7469b8","type":"change","z":"cf92227a.e883c","name":"Announce food","rules":[{"t":"set","p":"payload","pt":"msg","to":"food","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":320,"wires":[["ebc8a0fc.112cc8"]]},{"id":"5c1375eb.5362ec","type":"function","z":"cf92227a.e883c","name":"Build Nutrition Table","func":"msg.template=\"<style>\";\nmsg.template=msg.template+\"table { width: 440px; margin-top: 10px; }\";\nmsg.template=msg.template+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.template=msg.template+\"</style>\";\n\nmsg.template=msg.template+\"<h2>Ingredients:</h2>\"+\"<p>\"+msg.payload.foods[0].food+\"</p><table span=100%><tr><th>Nutritional Information</th><th>Value</th></tr>\";\nvar arrayLength = msg.payload.foods[0].foodNutrients.length;\nfor (var i = 0; i < arrayLength; i++) {\n  msg.template = msg.template + \"<tr><td>\" + msg.payload.foods[0].foodNutrients[i].nutrientName + \"</td><td>\" + msg.payload.foods[0].foodNutrients[i].value+ msg.payload.foods[0].foodNutrients[i].unitName + \"</td></tr>\";\n  if (msg.payload.foods[0].foodNutrients[i].nutrient_id==269) msg.sugar = msg.payload.foods[0].food.nutrients[i].value;\n  if (msg.payload.foods[0].foodNutrients[i].nutrient_id==204) msg.fat = msg.payload.foods[0].food.nutrients[i].value;\n}\nmsg.template = msg.template + \"</table>\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":500,"wires":[["35c333ec.74e574","5753727d.706cbc"]]},{"id":"35c333ec.74e574","type":"ui_template","z":"cf92227a.e883c","group":"f4c0554b.3d39b8","name":"Nutrients Table","order":2,"width":"9","height":"10","format":"<div ng-bind-html=\"msg.template\"></div>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":1020,"y":100,"wires":[[]]},{"id":"59a50ece.d093b","type":"ui_group","z":"","name":"Food Image","tab":"cbb79f83.012448","order":2,"disp":true,"width":"10","collapse":false},{"id":"4b97a38e.bb831c","type":"ui_group","z":"","name":"Results","tab":"cbb79f83.012448","order":3,"disp":true,"width":"12","collapse":false},{"id":"695ef645.ae9dc","type":"ui_group","z":"","name":"Nutrition content","tab":"cbb79f83.012448","order":4,"disp":true,"width":"12","collapse":false},{"id":"f4c0554b.3d39b8","type":"ui_group","z":"","name":"Nutrition","tab":"175cc0c3.f46f4f","order":3,"disp":true,"width":"9"},{"id":"cbb79f83.012448","type":"ui_tab","z":"","name":"Nutritiona analysis","icon":"dashboard","disabled":false,"hidden":false}]